In [19]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [20]:
X_train = pd.read_csv('Modeling_Datasets/X_train.csv', index_col=[0])
X_val = pd.read_csv('Modeling_Datasets/X_val.csv', index_col=[0])
X_test = pd.read_csv('Modeling_Datasets/X_test.csv', index_col=[0])
y_train = pd.read_csv('Modeling_Datasets/y_train.csv', index_col=[0])
y_val = pd.read_csv('Modeling_Datasets/y_val.csv', index_col=[0])
y_test = pd.read_csv('Modeling_Datasets/y_test.csv', index_col=[0])

Now let's check the shape of each dataset to ensure that everything was read in correctly.

In [21]:
print(f'X_train shape: {X_train.shape}')
print(f'X_val shape: {X_val.shape}')
print(f'X_test shape: {X_test.shape}')
print(f'y_train shape: {y_train.shape}')
print(f'y_val shape: {y_val.shape}')
print(f'y_test shape: {y_test.shape}')

X_train shape: (20366, 374)
X_val shape: (5092, 374)
X_test shape: (10911, 374)
y_train shape: (20366, 1)
y_val shape: (5092, 1)
y_test shape: (10911, 1)

In [22]:
y_test

       review_scores_rating
2349                      0
19967                     1
23310                     1
25143                     1
26809                     1
...                     ...
25293                     1
4526                      1
34884                     0
8756                      1
11906                     1

[10911 rows x 1 columns]

In [23]:
X_test

,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,latitude,longitude,accommodates,num_bathrooms,bedrooms,beds,...,"('property_type_Shared room in rental unit',)","('property_type_Shared room in residential home',)","('property_type_Shared room in serviced apartment',)","('property_type_Shared room in townhouse',)","('property_type_Shared room in vacation home',)","('property_type_Tiny home',)","('property_type_Tiny house',)","('property_type_Tower',)",name,description
2349,False,0.0,True,True,40.70827,-74.00502,2,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,Lovely Room in Manhattan,Charming room in a doorman building at Downtow...
19967,False,2.0,True,True,40.65250,-73.94806,4,2.0,1.0,2.0,...,0,0,0,0,0,0,0,0,"Sunlight, comfort, & Brooklyn charm near the Park","Has private bathroom :)<br /><br />Beautiful, ..."
23310,False,2.0,True,True,40.71211,-73.95975,2,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,Plant and Book lovers paradise in Hip Williams...,"Cozy, Airy, Clean apartment in true Williamsbu..."
25143,False,50.0,True,True,40.74830,-73.97607,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,Splendid studio in midtown Manhattan,Furnished studio with private bath and fully e...
26809,False,1.0,True,True,40.79484,-73.94957,5,1.0,2.0,3.0,...,0,0,0,0,0,0,0,0,Spacious 2 Bedroom Apartment by Central Park,This beautiful family friendly and spacious 2 ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25293,False,1.0,True,True,40.75598,-73.99730,2,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,URBAN DWELLING,I love living right in the middle of the hustl...
4526,False,1.0,True,True,40.76875,-73.96076,2,1.0,1.0,2.0,...,0,0,0,0,0,0,0,0,My Querencia UES,We welcome you to a quiet corner of Manhattan ...
34884,False,1.0,True,True,40.76114,-73.99308,2,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,"Bright, New Luxury Exec Studio",Spectacular FULLY-FURNISHED executive-suite st...
8756,True,5.0,True,True,40.66239,-73.96180,4,1.0,1.0,2.0,...,0,0,0,0,0,0,0,0,Amrita,Amazing studio apartment in historic pre-war b...
11906,False,55.0,True,True,40.74793,-73.98681,4,1.0,1.0,2.0,...,0,0,0,0,0,0,0,0,A+ Location Superior Studio (Double & Twin Bed),Our apartment is located in the center of Manh...

Now we have all of our training, validation and testing sets read in, we can use the `CountVectorizer` to create a bag of words model for the two text columns in our `X` datasets.

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

In [25]:
X_train_name = X_train['name']
X_val_name = X_val['name']
X_test_name = X_test['name']
X_train_desc = X_train['description']
X_val_desc = X_val['description']
X_test_desc = X_test['description']

In [ ]:
def get_bagofwords(data)